# IntelliJ project files
.idea
*.iml
out
target
gen

src/main/java/epam_02/


src/main/java/epam_03/


src/main/java/epam_04/


src/main/java/epam_05/


src/main/java/epam_06/


src/main/java/epam_07/


src/main/java/epam_08/


src/main/java/epam_09/


src/main/java/epam_10/


src/main/java/epam_11/


src/main/java/epam_12/




text\.txt

src/main/java/epam_13/
